@model NogginBug.MvcSite.ViewModels.Home.DetailPageViewModel

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">@Model.Bug.Title</li>
    </ol>
</nav>
<h1><span id="bug-title">@(Model.Bug.Title)</span> <span id="bug-status">(@Model.Bug.Status)</span></h1>
<p class="font-weight-light"><time id="bug-date-opened" datetime="@Model.Bug.OpenedDate.ToString("yyyy-MM-dd hh:mm")2011-04-02/2011-04-04">@Model.Bug.OpenedDate.ToString("dddd dd MMMM yyyy at HH:mm")</time></p>
<p id="bug-description">@Model.Bug.Description</p>